---
swagger: "2.0"
info:
  description: "Cambase.io is a project by Evercam.io in order to make it easier for\
    \ software developers to have a reliable, up to date source of model hardware\
    \ information available via a public API."
  version: "1.0"
  title: "Cambase.io"
  x-logo:
    url: "https://api.apis.guru/v2/cache/logo/https_twitter.com_evrcm_profile_image.jpeg"
  x-origin:
  - converter:
      url: "https://github.com/lucybot/api-spec-converter"
      version: "2.6.2"
    format: "swagger"
    url: "http://api.cambase.io/api-docs/api-docs.json"
    version: "1.2"
  x-preferred: true
  x-providerName: "cambase.io"
host: "api.cambase.io"
basePath: "/"
tags:
- name: "models"
  description: "Models"
- name: "recorders"
  description: "Recorders"
- name: "vendors"
  description: "Vendors"
schemes:
- "http"
paths:
  /api/v1/models.json:
    get:
      tags:
      - "models"
      summary: "Fetches all Models"
      operationId: "Api::V1::Models#index"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
      - name: "order"
        in: "query"
        description: "Sort order"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "The request you made is not acceptable"
        "416":
          description: "Requested Range Not Satisfiable"
      x-swagger-router-controller: "Models"
    post:
      tags:
      - "models"
      summary: "Creates a new Model"
      operationId: "Api::V1::Models#create"
      parameters:
      - name: "vendor_id"
        in: "formData"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "model[model]"
        in: "formData"
        description: "Model"
        required: true
        type: "string"
      - name: "model[shape]"
        in: "formData"
        description: "Shape"
        required: false
        type: "string"
      - name: "model[resolution]"
        in: "formData"
        description: "Resolution"
        required: false
        type: "string"
      - name: "model[onvif]"
        in: "formData"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "model[psia]"
        in: "formData"
        description: "PSIA"
        required: false
        type: "string"
      - name: "model[ptz]"
        in: "formData"
        description: "PTZ"
        required: false
        type: "string"
      - name: "model[infrared]"
        in: "formData"
        description: "Infrared"
        required: false
        type: "string"
      - name: "model[varifocal]"
        in: "formData"
        description: "Varifocal"
        required: false
        type: "string"
      - name: "model[sd_card]"
        in: "formData"
        description: "SD Card"
        required: false
        type: "string"
      - name: "model[upnp]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "model[audio_in]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "model[audio_out]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "model[default_username]"
        in: "formData"
        description: "Default Username"
        required: false
        type: "string"
      - name: "model[default_password]"
        in: "formData"
        description: "Default Password"
        required: false
        type: "string"
      - name: "model[jpeg_url]"
        in: "formData"
        description: "JPEG URL"
        required: false
        type: "string"
      - name: "model[h264_url]"
        in: "formData"
        description: "H264 URL"
        required: false
        type: "string"
      - name: "model[mjpeg_url]"
        in: "formData"
        description: "MJPEG URL"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Models"
  /api/v1/models/search.json:
    get:
      tags:
      - "models"
      summary: "Searches all Models"
      operationId: "Api::V1::Models#search"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
      - name: "q[model_cont]"
        in: "query"
        description: "Model"
        required: false
        type: "string"
      - name: "q[manufacturer_name_cont]"
        in: "query"
        description: "Vendor"
        required: false
        type: "string"
      - name: "q[shape_eq]"
        in: "query"
        description: "Shape"
        required: false
        type: "string"
      - name: "q[resolution_eq]"
        in: "query"
        description: "Resolution"
        required: false
        type: "string"
      - name: "q[onvif_true]"
        in: "query"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "q[psia_true]"
        in: "query"
        description: "PSIA"
        required: false
        type: "string"
      - name: "q[ptz_true]"
        in: "query"
        description: "PTZ"
        required: false
        type: "string"
      - name: "q[infrared_true]"
        in: "query"
        description: "Infrared"
        required: false
        type: "string"
      - name: "q[varifocal_true]"
        in: "query"
        description: "Varifocal"
        required: false
        type: "string"
      - name: "q[sd_card_true]"
        in: "query"
        description: "SD Card"
        required: false
        type: "string"
      - name: "q[upnp_true]"
        in: "query"
        description: "UPnP"
        required: false
        type: "string"
      - name: "q[audio_in_true]"
        in: "query"
        description: "Audio In"
        required: false
        type: "string"
      - name: "q[audio_out_true]"
        in: "query"
        description: "Audio Out"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "The request you made is not acceptable"
        "416":
          description: "Requested Range Not Satisfiable"
      x-swagger-router-controller: "Models"
  /api/v1/models/{id}.json:
    get:
      tags:
      - "models"
      summary: "Fetches a single Model"
      operationId: "Api::V1::Models#show"
      parameters:
      - name: "id"
        in: "path"
        description: "Model ID"
        required: true
        type: "integer"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Models"
    put:
      tags:
      - "models"
      summary: "Updates an existing Model"
      operationId: "apiV1ModelsId_jsonPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Model ID"
        required: true
        type: "string"
      - name: "vendor_id"
        in: "formData"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "model[model]"
        in: "formData"
        description: "Model"
        required: false
        type: "string"
      - name: "model[shape]"
        in: "formData"
        description: "Shape"
        required: false
        type: "string"
      - name: "model[resolution]"
        in: "formData"
        description: "Resolution"
        required: false
        type: "string"
      - name: "model[onvif]"
        in: "formData"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "model[psia]"
        in: "formData"
        description: "PSIA"
        required: false
        type: "string"
      - name: "model[ptz]"
        in: "formData"
        description: "PTZ"
        required: false
        type: "string"
      - name: "model[infrared]"
        in: "formData"
        description: "Infrared"
        required: false
        type: "string"
      - name: "model[varifocal]"
        in: "formData"
        description: "Varifocal"
        required: false
        type: "string"
      - name: "model[sd_card]"
        in: "formData"
        description: "SD Card"
        required: false
        type: "string"
      - name: "model[upnp]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "model[audio_in]"
        in: "formData"
        description: "Audio In"
        required: false
        type: "string"
      - name: "model[audio_out]"
        in: "formData"
        description: "Audio Out"
        required: false
        type: "string"
      - name: "model[default_username]"
        in: "formData"
        description: "Default Username"
        required: false
        type: "string"
      - name: "model[default_password]"
        in: "formData"
        description: "Default Password"
        required: false
        type: "string"
      - name: "model[jpeg_url]"
        in: "formData"
        description: "JPEG URL"
        required: false
        type: "string"
      - name: "model[h264_url]"
        in: "formData"
        description: "H264 URL"
        required: false
        type: "string"
      - name: "model[mjpeg_url]"
        in: "formData"
        description: "MJPEG URL"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Models"
    patch:
      tags:
      - "models"
      summary: "Updates an existing Model"
      operationId: "apiV1ModelsId_jsonPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Model ID"
        required: true
        type: "string"
      - name: "vendor_id"
        in: "formData"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "model[model]"
        in: "formData"
        description: "Model"
        required: false
        type: "string"
      - name: "model[shape]"
        in: "formData"
        description: "Shape"
        required: false
        type: "string"
      - name: "model[resolution]"
        in: "formData"
        description: "Resolution"
        required: false
        type: "string"
      - name: "model[onvif]"
        in: "formData"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "model[psia]"
        in: "formData"
        description: "PSIA"
        required: false
        type: "string"
      - name: "model[ptz]"
        in: "formData"
        description: "PTZ"
        required: false
        type: "string"
      - name: "model[infrared]"
        in: "formData"
        description: "Infrared"
        required: false
        type: "string"
      - name: "model[varifocal]"
        in: "formData"
        description: "Varifocal"
        required: false
        type: "string"
      - name: "model[sd_card]"
        in: "formData"
        description: "SD Card"
        required: false
        type: "string"
      - name: "model[upnp]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "model[audio_in]"
        in: "formData"
        description: "Audio In"
        required: false
        type: "string"
      - name: "model[audio_out]"
        in: "formData"
        description: "Audio Out"
        required: false
        type: "string"
      - name: "model[default_username]"
        in: "formData"
        description: "Default Username"
        required: false
        type: "string"
      - name: "model[default_password]"
        in: "formData"
        description: "Default Password"
        required: false
        type: "string"
      - name: "model[jpeg_url]"
        in: "formData"
        description: "JPEG URL"
        required: false
        type: "string"
      - name: "model[h264_url]"
        in: "formData"
        description: "H264 URL"
        required: false
        type: "string"
      - name: "model[mjpeg_url]"
        in: "formData"
        description: "MJPEG URL"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Models"
  /api/v1/recorders.json:
    get:
      tags:
      - "recorders"
      summary: "Fetches all Recorders"
      operationId: "Api::V1::Recorders#index"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
      - name: "order"
        in: "query"
        description: "Sort order"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "The request you made is not acceptable"
        "416":
          description: "Requested Range Not Satisfiable"
      x-swagger-router-controller: "Recorders"
    post:
      tags:
      - "recorders"
      summary: "Creates a new Recorder"
      operationId: "Api::V1::Recorders#create"
      parameters:
      - name: "vendor_id"
        in: "formData"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "recorder[model]"
        in: "formData"
        description: "Model"
        required: true
        type: "string"
      - name: "recorder[name]"
        in: "formData"
        description: "Name"
        required: true
        type: "string"
      - name: "recorder[recorder_type]"
        in: "formData"
        description: "Type"
        required: true
        type: "string"
      - name: "recorder[resolution]"
        in: "formData"
        description: "Resolution"
        required: false
        type: "string"
      - name: "recorder[onvif]"
        in: "formData"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "recorder[psia]"
        in: "formData"
        description: "PSIA"
        required: false
        type: "string"
      - name: "recorder[ptz]"
        in: "formData"
        description: "PTZ"
        required: false
        type: "string"
      - name: "recorder[discontinued]"
        in: "formData"
        description: "Discontinued"
        required: false
        type: "string"
      - name: "recorder[support_3rdparty]"
        in: "formData"
        description: "3rd pparty Camera Support"
        required: false
        type: "string"
      - name: "recorder[sd_card]"
        in: "formData"
        description: "SD Card"
        required: false
        type: "string"
      - name: "recorder[upnp]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "recorder[hot_swap]"
        in: "formData"
        description: "Hot Swap"
        required: false
        type: "string"
      - name: "recorder[hdmi]"
        in: "formData"
        description: "HDMI Support"
        required: false
        type: "string"
      - name: "recorder[digital_io]"
        in: "formData"
        description: "Digital I/O"
        required: false
        type: "string"
      - name: "recorder[audio_in]"
        in: "formData"
        description: "Audio In"
        required: false
        type: "string"
      - name: "recorder[audio_out]"
        in: "formData"
        description: "Audio Out"
        required: false
        type: "string"
      - name: "recorder[input_channels]"
        in: "formData"
        description: "Input Channels"
        required: false
        type: "string"
      - name: "recorder[playback_channels]"
        in: "formData"
        description: "Playback Channels"
        required: false
        type: "string"
      - name: "recorder[usb]"
        in: "formData"
        description: "USB Ports"
        required: false
        type: "string"
      - name: "recorder[sdhc]"
        in: "formData"
        description: "SD Card (GB)"
        required: false
        type: "string"
      - name: "recorder[mobile_access]"
        in: "formData"
        description: "Mobile Access"
        required: false
        type: "string"
      - name: "recorder[alarms]"
        in: "formData"
        description: "Alarms"
        required: false
        type: "string"
      - name: "recorder[raid_support]"
        in: "formData"
        description: "Raid Support"
        required: false
        type: "string"
      - name: "recorder[storage]"
        in: "formData"
        description: "Internal Storage"
        required: false
        type: "string"
      - name: "recorder[additional_information]"
        in: "formData"
        description: "Additional Information"
        required: false
        type: "string"
      - name: "recorder[default_username]"
        in: "formData"
        description: "Default Username"
        required: false
        type: "string"
      - name: "recorder[default_password]"
        in: "formData"
        description: "Default Password"
        required: false
        type: "string"
      - name: "recorder[jpeg_url]"
        in: "formData"
        description: "JPEG URL"
        required: false
        type: "string"
      - name: "recorder[h264_url]"
        in: "formData"
        description: "H264 URL"
        required: false
        type: "string"
      - name: "recorder[mjpeg_url]"
        in: "formData"
        description: "MJPEG URL"
        required: false
        type: "string"
      - name: "recorder[official_url]"
        in: "formData"
        description: "Official URL"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Recorders"
  /api/v1/recorders/search.json:
    get:
      tags:
      - "recorders"
      summary: "Searches all Recorders"
      operationId: "Api::V1::Recorders#search"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
      - name: "q[model_cont]"
        in: "query"
        description: "Model"
        required: false
        type: "string"
      - name: "q[vendor_name_cont]"
        in: "query"
        description: "Vendor"
        required: false
        type: "string"
      - name: "q[sdhc_eq]"
        in: "query"
        description: "SD Card (GB)"
        required: false
        type: "string"
      - name: "q[type_eq]"
        in: "query"
        description: "Type"
        required: false
        type: "string"
      - name: "q[resolution_eq]"
        in: "query"
        description: "Resolution"
        required: false
        type: "string"
      - name: "q[input_channels_eq]"
        in: "query"
        description: "Input Channels"
        required: false
        type: "string"
      - name: "q[playback_channels_eq]"
        in: "query"
        description: "Playback Channels"
        required: false
        type: "string"
      - name: "q[onvif_true]"
        in: "query"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "q[psia_true]"
        in: "query"
        description: "PSIA"
        required: false
        type: "string"
      - name: "q[ptz_true]"
        in: "query"
        description: "PTZ"
        required: false
        type: "string"
      - name: "q[sd_card_true]"
        in: "query"
        description: "SD Card"
        required: false
        type: "string"
      - name: "q[upnp_true]"
        in: "query"
        description: "UPnP"
        required: false
        type: "string"
      - name: "q[audio_in_true]"
        in: "query"
        description: "Audio In"
        required: false
        type: "string"
      - name: "q[audio_out_true]"
        in: "query"
        description: "Audio Out"
        required: false
        type: "string"
      - name: "q[hdmi_true]"
        in: "query"
        description: "HDMI Support"
        required: false
        type: "string"
      - name: "q[hot_swap_true]"
        in: "query"
        description: "Hot Swap"
        required: false
        type: "string"
      - name: "q[support_3rdparty_true]"
        in: "query"
        description: "3rd pparty Camera Support"
        required: false
        type: "string"
      - name: "q[digital_io_true]"
        in: "query"
        description: "Digital I/O"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "The request you made is not acceptable"
        "416":
          description: "Requested Range Not Satisfiable"
      x-swagger-router-controller: "Recorders"
  /api/v1/recorders/{id}.json:
    get:
      tags:
      - "recorders"
      summary: "Fetches a single Recorder"
      operationId: "Api::V1::Recorders#show"
      parameters:
      - name: "id"
        in: "path"
        description: "Recorder ID"
        required: true
        type: "integer"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Recorders"
    put:
      tags:
      - "recorders"
      summary: "Updates an existing Recorder"
      operationId: "apiV1RecordersId_jsonPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Recorder ID"
        required: true
        type: "string"
      - name: "vendor_id"
        in: "formData"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "recorder[model]"
        in: "formData"
        description: "Model"
        required: true
        type: "string"
      - name: "recorder[name]"
        in: "formData"
        description: "Name"
        required: true
        type: "string"
      - name: "recorder[recorder_type]"
        in: "formData"
        description: "Type"
        required: true
        type: "string"
      - name: "recorder[resolution]"
        in: "formData"
        description: "Resolution"
        required: false
        type: "string"
      - name: "recorder[onvif]"
        in: "formData"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "recorder[psia]"
        in: "formData"
        description: "PSIA"
        required: false
        type: "string"
      - name: "recorder[ptz]"
        in: "formData"
        description: "PTZ"
        required: false
        type: "string"
      - name: "recorder[discontinued]"
        in: "formData"
        description: "Discontinued"
        required: false
        type: "string"
      - name: "recorder[support_3rdparty]"
        in: "formData"
        description: "3rd pparty Camera Support"
        required: false
        type: "string"
      - name: "recorder[sd_card]"
        in: "formData"
        description: "SD Card"
        required: false
        type: "string"
      - name: "recorder[upnp]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "recorder[hot_swap]"
        in: "formData"
        description: "Hot Swap"
        required: false
        type: "string"
      - name: "recorder[hdmi]"
        in: "formData"
        description: "HDMI Support"
        required: false
        type: "string"
      - name: "recorder[digital_io]"
        in: "formData"
        description: "Digital I/O"
        required: false
        type: "string"
      - name: "recorder[audio_in]"
        in: "formData"
        description: "Audio In"
        required: false
        type: "string"
      - name: "recorder[audio_out]"
        in: "formData"
        description: "Audio Out"
        required: false
        type: "string"
      - name: "recorder[input_channels]"
        in: "formData"
        description: "Input Channels"
        required: false
        type: "string"
      - name: "recorder[playback_channels]"
        in: "formData"
        description: "Playback Channels"
        required: false
        type: "string"
      - name: "recorder[usb]"
        in: "formData"
        description: "USB Ports"
        required: false
        type: "string"
      - name: "recorder[sdhc]"
        in: "formData"
        description: "SD Card (GB)"
        required: false
        type: "string"
      - name: "recorder[mobile_access]"
        in: "formData"
        description: "Mobile Access"
        required: false
        type: "string"
      - name: "recorder[alarms]"
        in: "formData"
        description: "Alarms"
        required: false
        type: "string"
      - name: "recorder[raid_support]"
        in: "formData"
        description: "Raid Support"
        required: false
        type: "string"
      - name: "recorder[storage]"
        in: "formData"
        description: "Internal Storage"
        required: false
        type: "string"
      - name: "recorder[additional_information]"
        in: "formData"
        description: "Additional Information"
        required: false
        type: "string"
      - name: "recorder[default_username]"
        in: "formData"
        description: "Default Username"
        required: false
        type: "string"
      - name: "recorder[default_password]"
        in: "formData"
        description: "Default Password"
        required: false
        type: "string"
      - name: "recorder[jpeg_url]"
        in: "formData"
        description: "JPEG URL"
        required: false
        type: "string"
      - name: "recorder[h264_url]"
        in: "formData"
        description: "H264 URL"
        required: false
        type: "string"
      - name: "recorder[mjpeg_url]"
        in: "formData"
        description: "MJPEG URL"
        required: false
        type: "string"
      - name: "recorder[official_url]"
        in: "formData"
        description: "Official URL"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Recorders"
    patch:
      tags:
      - "recorders"
      summary: "Updates an existing Recorder"
      operationId: "apiV1RecordersId_jsonPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Recorder ID"
        required: true
        type: "string"
      - name: "vendor_id"
        in: "formData"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "recorder[model]"
        in: "formData"
        description: "Model"
        required: true
        type: "string"
      - name: "recorder[name]"
        in: "formData"
        description: "Name"
        required: true
        type: "string"
      - name: "recorder[recorder_type]"
        in: "formData"
        description: "Type"
        required: true
        type: "string"
      - name: "recorder[resolution]"
        in: "formData"
        description: "Resolution"
        required: false
        type: "string"
      - name: "recorder[onvif]"
        in: "formData"
        description: "ONVIF"
        required: false
        type: "string"
      - name: "recorder[psia]"
        in: "formData"
        description: "PSIA"
        required: false
        type: "string"
      - name: "recorder[ptz]"
        in: "formData"
        description: "PTZ"
        required: false
        type: "string"
      - name: "recorder[discontinued]"
        in: "formData"
        description: "Discontinued"
        required: false
        type: "string"
      - name: "recorder[support_3rdparty]"
        in: "formData"
        description: "3rd pparty Camera Support"
        required: false
        type: "string"
      - name: "recorder[sd_card]"
        in: "formData"
        description: "SD Card"
        required: false
        type: "string"
      - name: "recorder[upnp]"
        in: "formData"
        description: "UPnP"
        required: false
        type: "string"
      - name: "recorder[hot_swap]"
        in: "formData"
        description: "Hot Swap"
        required: false
        type: "string"
      - name: "recorder[hdmi]"
        in: "formData"
        description: "HDMI Support"
        required: false
        type: "string"
      - name: "recorder[digital_io]"
        in: "formData"
        description: "Digital I/O"
        required: false
        type: "string"
      - name: "recorder[audio_in]"
        in: "formData"
        description: "Audio In"
        required: false
        type: "string"
      - name: "recorder[audio_out]"
        in: "formData"
        description: "Audio Out"
        required: false
        type: "string"
      - name: "recorder[input_channels]"
        in: "formData"
        description: "Input Channels"
        required: false
        type: "string"
      - name: "recorder[playback_channels]"
        in: "formData"
        description: "Playback Channels"
        required: false
        type: "string"
      - name: "recorder[usb]"
        in: "formData"
        description: "USB Ports"
        required: false
        type: "string"
      - name: "recorder[sdhc]"
        in: "formData"
        description: "SD Card (GB)"
        required: false
        type: "string"
      - name: "recorder[mobile_access]"
        in: "formData"
        description: "Mobile Access"
        required: false
        type: "string"
      - name: "recorder[alarms]"
        in: "formData"
        description: "Alarms"
        required: false
        type: "string"
      - name: "recorder[raid_support]"
        in: "formData"
        description: "Raid Support"
        required: false
        type: "string"
      - name: "recorder[storage]"
        in: "formData"
        description: "Internal Storage"
        required: false
        type: "string"
      - name: "recorder[additional_information]"
        in: "formData"
        description: "Additional Information"
        required: false
        type: "string"
      - name: "recorder[default_username]"
        in: "formData"
        description: "Default Username"
        required: false
        type: "string"
      - name: "recorder[default_password]"
        in: "formData"
        description: "Default Password"
        required: false
        type: "string"
      - name: "recorder[jpeg_url]"
        in: "formData"
        description: "JPEG URL"
        required: false
        type: "string"
      - name: "recorder[h264_url]"
        in: "formData"
        description: "H264 URL"
        required: false
        type: "string"
      - name: "recorder[mjpeg_url]"
        in: "formData"
        description: "MJPEG URL"
        required: false
        type: "string"
      - name: "recorder[official_url]"
        in: "formData"
        description: "Official URL"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Recorders"
  /api/v1/vendors.json:
    get:
      tags:
      - "vendors"
      summary: "Fetches all Vendors"
      operationId: "Api::V1::Vendors#index"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
      - name: "order"
        in: "query"
        description: "Sort order"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "The request you made is not acceptable"
        "416":
          description: "Requested Range Not Satisfiable"
      x-swagger-router-controller: "Vendors"
    post:
      tags:
      - "vendors"
      summary: "Creates a new Vendor"
      operationId: "Api::V1::Vendors#create"
      parameters:
      - name: "vendor[name]"
        in: "formData"
        description: "Name"
        required: true
        type: "string"
      - name: "vendor[info]"
        in: "formData"
        description: "Info."
        required: false
        type: "string"
      - name: "vendor[url]"
        in: "formData"
        description: "Website"
        required: false
        type: "string"
      - name: "vendor[mac]"
        in: "formData"
        description: "MAC"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Vendors"
  /api/v1/vendors/{id}.json:
    get:
      tags:
      - "vendors"
      summary: "Fetches a single Vendor"
      operationId: "Api::V1::Vendors#show"
      parameters:
      - name: "id"
        in: "path"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "order"
        in: "query"
        description: "Sort order"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Vendors"
    put:
      tags:
      - "vendors"
      summary: "Updates an existing Vendor"
      operationId: "apiV1VendorsId_jsonPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "vendor[name]"
        in: "formData"
        description: "Name"
        required: false
        type: "string"
      - name: "vendor[info]"
        in: "formData"
        description: "Info."
        required: false
        type: "string"
      - name: "vendor[url]"
        in: "formData"
        description: "Website"
        required: false
        type: "string"
      - name: "vendor[mac]"
        in: "formData"
        description: "MAC"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Vendors"
    patch:
      tags:
      - "vendors"
      summary: "Updates an existing Vendor"
      operationId: "apiV1VendorsId_jsonPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Vendor ID"
        required: true
        type: "string"
      - name: "vendor[name]"
        in: "formData"
        description: "Name"
        required: false
        type: "string"
      - name: "vendor[info]"
        in: "formData"
        description: "Info."
        required: false
        type: "string"
      - name: "vendor[url]"
        in: "formData"
        description: "Website"
        required: false
        type: "string"
      - name: "vendor[mac]"
        in: "formData"
        description: "MAC"
        required: false
        type: "string"
      responses:
        "200":
          description: "No response was specified"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
        "406":
          description: "Not Acceptable"
      x-swagger-router-controller: "Vendors"
